.SignupForm{
  text-align:left;
  padding:0px 10px;
}

.SignupForm input{
  width:100%;
  padding:5px;
  border:0;
  border-radius:3px;
}

.SignupButton{
  padding:5px;
  width:100%;
  border:0;
  border-radius:3px;
  background-color:rgb(0, 201, 251);
}

.SignupBox{
  height:400px;
  width:300px;
  position:relative;
  margin:7vh auto;
  padding:1px;
  background-color:#D0AA3A;
  background-color:#AEA764;
  text-align:center;
  border-radius:2%;
}

.SignupLineBreakDiv{
  width:100%;
  height:1em;
}

